name: Update RSS Feed

on:
  schedule:
    - cron: '0 */6 * * *' # Jalan setiap 6 jam
  workflow_dispatch: # Biar bisa lo jalanin manual buat ngetes

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run generator
        run: python main.py

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add feed.xml
          git commit -m "Update feed: $(date)"
          git push
